.registerpage{
    color: black;
    font-family:none;
    background-image: url('../../../../public/school.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 50px;
    padding-left: 20vw;
    padding-right: 20vw;
    /* padding-bottom: ; */
}

.div{
    position: absolute;
    top: 10px;
    left: 10px;
}

.regbtn{
    position: relative;
    bottom: -70px;
}

.imagebtn{
    position: relative;
    bottom: 50px;
}