
.loginpage{
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/Great_Crossing.jpg');
    background-size: cover; /*Scales image to cover the entire background*/
    background-repeat: no-repeat; /* Prevents repetition */
    background-position: center; /* Centers the image */
}

.shadow-lg{
    background-color: burlywood;
    color: black;
    font-weight: bolder;
    font-style: italic;
    font-family:none;
}
