.teacherleave{
    font-style: italic;
  font-family: none;
  font-weight: 600;
}

.maincontainer{
  background-image: url("../../../../public/LeaveModulebackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tablerow{
  text-align: center;
}
.table{
  min-width: 700px;
}