
   <div class="container">
    <h2>Mark Attendance</h2>
  
    <form >
      <div class="form-group">
        <label for="attendanceDate">Today:</label>
        <input type="date" id="attendanceDate" class="form-control" [value]="attendanceDate" [min]="attendanceDate" [max]="attendanceDate" name="attendanceDate" required/>
      </div>
  
      <button *ngIf="canGiveAttendance" (click)="submitAttendance()" class="btn btn-primary">Submit Attendance</button>
      <button *ngIf="!canGiveAttendance" (click)="submitAttendance()" class="btn btn-primary" disabled>Submit Attendance</button>
    </form>
  </div>


  ===============================================

  <div class="attendance-mark d-flex justify-content-center align-items-center vh-100" style="background-color: #f8f9fa;">
    <div class="card shadow-lg p-4" style="width: 450px; height: 450px; border-radius: 10px;">
      <h3 class="text-center mb-3 text-primary" style="font-weight: bold;">Mark Attendance</h3><br/>
      
      <form >
        <div class="mb-3">
          <label for="attendanceDate" class="form-label">Select Date</label>
          <input type="date" id="attendanceDate" class="form-control" [(ngModel)]="attendanceDate" name="attendanceDate" required>
        </div><br/>
        <div class="d-flex justify-content-center mt-3">
        <button (click)="submitAttendance()" class="btn btn-primary w-50 mt-3 ">Mark Attendance</button>
        </div>
      </form>
    </div>
  </div>
  