
   <div class="container">
    <h2>Mark Attendance</h2>
  
    <form >
      <div class="form-group">
        <label for="attendanceDate">Today:</label>
        <input type="date" id="attendanceDate" class="form-control" [value]="attendanceDate" [min]="attendanceDate" [max]="attendanceDate" name="attendanceDate" required/>
      </div>
  
      <button *ngIf="canGiveAttendance" (click)="submitAttendance()" class="btn btn-primary">Submit Attendance</button>
      <button *ngIf="!canGiveAttendance" (click)="submitAttendance()" class="btn btn-primary" disabled>Submit Attendance</button>
    </form>
  </div>


  