<!-- 

  <div class="container">
    <h2>Attendance </h2>
  
    
    <div >
  
  
      <label for="date">Select Date:</label>
      <input type="date" id="date" [(ngModel)]="attendance.date" required />
      <br />
  
      <button >Submit Attendance Request</button>
    </div>
   -->
  

   <div class="container">
    <h2>Mark Attendance</h2>
  
    <form (ngSubmit)="submitAttendance()">
      <div class="form-group">
        <label for="attendanceDate">Select Date:</label>
        <input
          type="date"
          id="attendanceDate"
          class="form-control"
          [(ngModel)]="attendanceDate"
          name="attendanceDate"
          required
        />
      </div>
  
      <button type="submit" class="btn btn-primary">Submit Attendance</button>
    </form>
  </div>