
<div class="">
    <form [formGroup]="roleEditForm">
    <table>
        <thead>
            <tr>
                <th>Role Id</th>
                <th>Role Name</th>
                <th *ngIf="CanEdit">Option</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let role of Roles"> 
                <td *ngIf="role.id!=editingValueForId;then trueidpart; else falseidpart"></td>
                <td *ngIf="role.id!=editingValueForId;then truenamepart; else falsenamepart">{{role.roleName}}</td>
                <td>
                    <button *ngIf="role.id!=editingValueForId && CanEdit" type="button" type="button" (click)="changeEdit(role.id)">Edit</button>
                    <button *ngIf="role.id!=editingValueForId && CanEdit" type="button" type="button" (click)="deleteRole(role.id)">Delete</button>
                    <button *ngIf="role.id==editingValueForId" type="button" (click)="editingValueForId=-1">Cancel</button>
                    <button *ngIf="role.id==editingValueForId" type="submit" (click)="UpdateRole()">Update</button>
                </td>
                
                <ng-template #trueidpart>
                    {{role.id}}
                </ng-template>
                <ng-template #falseidpart>
                        <input type="text" [value]="role.id" formControlName="roleId">
                        <input type="text" [value]="role.roleName" formControlName="roleName">
                    </ng-template>
                    
                    <ng-template #truenamepart>
                        {{role.roleName}}
                    </ng-template>
                    <ng-template #falsenamepart>
                    </ng-template>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<div>
    <button type="button" (click)="changeroAddRole()">Add</button>
    <form action="" *ngIf="isAddingNewRole" [formGroup]="roleEditForm" (ngSubmit)="addRole()">
        <label for="">Role to Add</label>
        <input type="text" formControlName="roleName">
        <button type="submit">Add</button>
    </form>
</div>
