
<div class="">
    <table>
        <thead>
            <tr>
                <th>Permissions</th>
                <th *ngFor="let role of Roles">{{role.roleName}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let permission of PermissionList"> 
                <td>{{permission}}</td>
                <td *ngFor="let role of Roles">
                    <div *ngIf="role.permissions.includes(permission);then truepart;else falsepart"></div>
                    {{role.permissions.includes(permission)}}


                    <ng-template #truepart>
                        <input type="checkbox" checked >
                    </ng-template>
                    <ng-template #falsepart>
                        <input type="checkbox" >
                    </ng-template>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="">
    <form [formGroup]="givepermissionForm">
        <label for="permissionSelect">Change Permission</label>
        <select id="permissionSelect" formControlName="permissionSelect">
            <option *ngFor="let permission of PermissionList" [value]="permission">{{permission}}</option>
        </select>
        <label for="roleSelect">for role </label>
        <select id="roleSelect" formControlName="roleSelect">
            <option *ngFor="let role of Roles" [value]="role.roleName">{{role.roleName}}</option>
        </select>

        <div class="" *ngIf="givepermissionForm.value.roleSelect && givepermissionForm.value.permissionSelect">
            <button type="button" (click)="AddPermission()">Add Permission</button>
            <button type="button" (click)="UpdatePermission()">Delete Permission</button>
        </div>
    </form>
</div>