<div>
    <form [formGroup]="LoginForm" (ngSubmit)="AuthenticateUser()">
        <div class="">
            <label for="userid">UserId</label>
            <input type="text" id="userid" formControlName="id">
        </div>
        <div class="">
            <label for="userpassword">Password</label>
            <input type="text" id="userpassword" formControlName="password">
        </div>
        <button type="submit" >loggin</button>
        <a [routerLink]="['/userregistration']">New User</a>
    </form>
</div>
